/* cart.css - Derived from style3.css */
.container-5 {
  padding: 40px 5%;
  display: flex;
  justify-content: center;
}
.cart {
  width: 100%;
  max-width: 1000px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
thead {
  border-bottom: 2px solid #505050;
  font-size: 1.2rem;
}
td {
  padding: 15px;
  text-align: left;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#total {
  margin-top: 20px;
  padding: 5px;
  background: rgba(0, 0, 0, 0);
  color: rgb(16, 199, 52);
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
  
}

.cart button {
  background: transparent;
  border: 1px solid #777;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  width: 100px;
  border-radius: 50px;
}
.btn-primary{
    display: block;
    width: fit-content;
    margin: 20px auto;
    opacity: 0.8;
    transition: opacity 0.3s;
}

#button {
  background: transparent;
  border: 1px solid #777;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width:100%;
  border-radius: 50px;
}
#button:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-3px);
}
