/* login.css - Specific to the Login/Signup grid */
.main-container-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
  padding: 30px;
}

.main-container-7 .left {
  flex: 1;
  max-width: 600px;
}
.left .btn{
  background: transparent;
  font-size: medium;
  border: 2px solid #777;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width:fit-content;
  border-radius: 20px 5px 20px 5px;
}
.left .btn:hover{
    color: white;
    background: rgba(18, 170, 18, 0.589);
}
.left .btn:active{
    color: white;
    background: rgb(8, 60, 8);
}

fieldset {
  border: 1px solid #8e8989;
  padding: 40px;
  border-radius: 15px;
  background: rgba(22, 6, 6, 0);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #666;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid #3f3f3ff9;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.1);
}


