{% extends 'main.html' %} {% block content %}
<a href="{% url 'products' %}" class="btn btn-primary mt-3" style="text-decoration:none; color:white;">&#8592; Back to Products</a>
        <section class="product-details">
            <div>
            <img src="{{ product.image.url }}" alt="product image"/>
            <h3 class="product-title">{{ product.title }}</h3>
            <p class="price">&#8377; {{ product.price }}</p>
    
            </div>
            <p class="description">
                {{ product.discription }}
        <form method='POST' action="{% url 'add_to_cart' %}">
                 {% csrf_token %} 
                <input type="hidden" value="{{ product.id}}" name="product_id"><br>
                <button class="add-to-cart">Add to Cart</button>
            </form>
        </section>
        

    {% endblock %}
